Repository JTTechnic/pokedex-typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext mjs,js,ts, prettier --write

feat: add fetchAmount
  src/managers/BaseManager.js
  test/amount.js
Due: eslint --fix --ext mjs,js,ts

feat: add fetchAmount typings
  typings/index.d.ts
Due: prettier --write

feat: add fetchRandom
  src/managers/BaseManager.js
  src/managers/NamedResourceManager.js
  test/random.js
  typings/index.d.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat: add fetchAll
  src/managers/BaseManager.js
  test/fetchAll.js
  typings/index.d.ts
Due: eslint --fix --ext mjs,js,ts, prettier --write

feat: improve fetchAll
  src/managers/BaseManager.js
  test/fetchAll.js
Due: eslint --fix --ext mjs,js,ts

Path conditions:
  eslint --fix --ext mjs,js,ts: any of: *.{mjs,js}
  prettier --write: any of: *.ts
